<div class="cont">
  <div class="row h1">
    Agregar Integrantes
  </div>
  <div class="h3 mt-2" *ngIf="users.length === 0">
    No hay integrantes para agregar a este proyecto
  </div>
  <table class="table"  *ngIf="users.length > 0">
      <thead>
        <tr>
          <th scope="col">Nombres</th>
          <th scope="col">Email</th>
          <th scope="col">Skills</th>
          <th scope="col">No. Proyectos</th>
          <th scope="col">Añadir</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users">
        <tr>
          <th >{{ user.name +' '+ user.last_name | titlecase }}</th>
          <td>{{ user.email }}</td>
          <td>{{ user.skills }}</td>
          <td *ngIf="user.projects?.length">{{ user.projects?.length }}</td>
          <td *ngIf="!user.projects?.length">0</td>
          <td>
            <div>
              <button type="button" class="btn btn-sm rounded-circle btn-primary" (click)="addMember(user)"><fa-icon class="fs-14" [icon]="faPlus"></fa-icon></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>
