<div class="d-flex flex-row justify-content-around mt-5">
  <div style="width: 300px">
    <div class="card leader" >
      <div class="d-flex justify-content-center mt-4 card-img-top ml-2">
        <img src="assets/img/leader.png" alt="" style="width: 200px" />
      </div>
      <div class="card-body">
        <h2 class="card-title mt-2 text-center bg-success text-white">Lider.</h2>
      </div>
    </div>
  </div>
  <div style="width: 300px">
    <div class="card bg-warning" >
      <div class="d-flex justify-content-center mt-4 card-img-top mr-2">
        <img src="assets/img/dev.png" alt="" style="width: 200px" />
      </div>
      <div class="card-body">
        <h2 class="card-title mt-2 text-center dev text-white" >Desarrollador.</h2>
      </div>
    </div>
  </div>
</div>
