<div class="cont">
  <div class="row mt-3">
    <div class="col-md-6 col-12" style="height: 220px;">
      <mat-card class="tergeta">
        <div class="row">
          <div class="col">
            <h2>Datos del proyecto</h2>
          </div>
          <div class="col"  *ngIf="project.leaderid === user.user._id">
            <button [disabled]="project.state === 'CLOSE'" class="btn btn-danger btn-sm float-end" (click)="closeProject()">Cerrar proyecto</button>
          </div>
        </div>
        <div class="mt-2 mb-2">
          <p><strong>Nombre del projecto:</strong> {{ project.name }}</p>
          <p><strong>Lider del projecto:</strong> {{ leader.name +" "+leader.last_name | titlecase}} </p>
          <p><strong>Fecha de inicio de Proyecto:</strong> {{ project.created_at| date: 'M/d/yyyy'}}</p>
          <p><strong>Descripción:</strong> {{ project.description }}</p>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6 col-12 mt-md-0 mt-2" style="height: 220px;">
      <mat-card class="tergeta"  style=" height: 100%;overflow: auto;">
        <div class="row">
          <div class="col">
            <h2>
              Fases
            </h2>
          </div>
          <div class="col" *ngIf="project.leaderid === user.user._id">
            <button [disabled]="project.state === 'CLOSE'" class="btn btn-primary btn-sm float-end" [routerLink]="'/user/create-phase/'+project._id">Nueva</button>
          </div>
        </div>
        <div *ngIf="!projectPhases || !projectPhases.length">
          <div class="p-3">
            <div class="h5">El proyecto no cuenta</div>
            <div class="h7">con fases creadas</div>
          </div>
        </div>
        <table class="table table-hover  table-striped"  *ngIf="projectPhases && projectPhases.length > 0">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Nombre de la fase</th>
              <th scope="col">Fecha final</th>
              <th scope="col">Estado</th>
            <tr>
          </thead>
          <tbody>
            <tr style="cursor:pointer" *ngFor="let phase of projectPhases, let i = index" [routerLink]="'/user/phase/'+ phase._id">
              <td>{{ i+1 }}</td>
              <td>{{ phase.name }}</td>
              <td>{{ phase.end_date | date: 'M/d/yyyy'}}</td>
              <td>
                <span *ngIf="phase.state === 'ACTIVE'">Activo</span>
                <span *ngIf="phase.state === 'CLOSE'">Cerrado</span>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
  </div>
  <hr>
  <div class="row mt-3">
    <div class="col-md-6 col-12">
      <mat-card class="tergeta" style=" height: 100%;overflow: auto;">
        <div class="row">
          <div class="col">
            <h2 class="int">
              <a class="text-dark text-decoration-none" [routerLink]="'/user/list-members-project/'+id">
                Integrantes
              </a>
            </h2>
          </div>
          <div class="col">
            <button class="btn btn-primary btn-sm float-end" [disabled]="project.state === 'CLOSE'"  *ngIf="project.leaderid === user.user._id" [routerLink]="'/user/add-members-project/'+id">Agregar</button>
          </div>
        </div>
        <div class="row" *ngIf="projectMembers.length ===0">
          <div class="p-3">
            <div class="h5">El proyecto no cuenta</div>
            <div class="h7">con integrantes asignados</div>
          </div>
        </div>
        <table class="table table-hover table-striped" *ngIf="projectMembers.length > 0">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Nombres</th>
              <th scope="col">Email</th>
            <tr>
          </thead>
          <tbody>
            <tr  style="cursor:pointer" *ngFor="let inte of projectMembers;  index as i;" [routerLink]="'/user/'+inte._id">
              <td>{{i+1}}</td>
              <td>
                {{inte.name}} {{inte.last_name}}
              </td>
              <td>
                {{inte.email}}
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
    <div  class="col-md-6 col-12 mt-md-0 mt-2 pb-md-0 pb-3">
      <mat-card class="tergeta"  style=" height: 100%;overflow: auto;">
        <h2>Estadisticas</h2>
        <div *ngIf="seeCart" class="col">
          <canvas baseChart
                [legend]="true"
                [type]="'bar'"
                [options]="barChartOptions"
                [datasets]="chartData"
                [labels]="chartLabels">
          </canvas>
        </div>
        <div class="p-3" *ngIf="!seeCart">
          <div class="h5">El proyecto no cuenta</div>
          <div class="h7">con ninguna estadistica en este momento</div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-danger float-end" [routerLink]="['/user']">
        volver
      </button>
    </div>
  </div>
</div>
