<div class="cont">
  <div class="row mt-3">
    <div class="col" style="height: 220px;">
      <mat-card class="tergeta">
        <h2>Datos de La fase</h2>
        <div class="mt-4 mb-2">
          <p><strong>Nombre del projecto:</strong> {{ phase.name }}</p>
          <p><strong>Lider del projecto:</strong> {{ leader.name + '' + leader.last_name | titlecase}}</p>
          <p>
            <strong>Fecha de inicio de Fase:</strong>
            {{ phase.created_at | date: "M/d/yyyy" }}
          </p>
          <p><strong>Descripción:</strong> {{ phase.description }}</p>
        </div>
      </mat-card>
    </div>
    <div class="col" style="height: 220px;">
      <mat-card class="tergeta">
        <div class="row">
          <div class="col">
            <h2 class="int">
              <a class="text-dark text-decoration-none" [routerLink]="'/user/list-members-phase/'+id">
                Integrantes
              </a>
            </h2>
          </div>
          <div *ngIf="leader._id === user.user._id"  class="col">
            <a class="btn btn-primary btn-sm float-end" [routerLink]="'/user/add-members-phase/'+id">Agregar</a>
          </div>
        </div>
        <div class="row" *ngIf="phaseMembers.length ===0">
          <div class="h3">
            Este proyecto aun no cuenta con mienbros asignados
          </div>
        </div>
        <table class="table table-striped" *ngIf="phaseMembers.length > 0">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Nombres</th>
              <th scope="col">Email</th>
            <tr>
          </thead>
          <tbody>
            <tr  style="cursor:pointer" *ngFor="let inte of phaseMembers;  index as i;" [routerLink]="'/user/'+inte._id">
              <td>{{i+1}}</td>
              <td>
                {{inte.name}} {{inte.last_name}}
              </td>
              <td>
                {{inte.email}}
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
  </div>
  <hr />
  <div class="row mt-3">
    <div class="col">
      <mat-card class="tergeta">
        <h3>Estadisticas</h3>
        <div class="row">
          <div class="col">
            <mat-card>
              Estadistica 1
              <img src="assets/img/tarta_1_0.png" style="height: 165px" />
            </mat-card>
          </div>
          <div class="col">
            <mat-card>
              Estadistica 2
              <img src="assets/img/tarta_1_0.png" style="height: 165px" />
            </mat-card>
          </div>
          <div class="col">
            <mat-card>
              Estadistica 3
              <img src="assets/img/tarta_1_0.png" style="height: 165px" />
            </mat-card>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
