<div class="cont">
  <div class="row mt-3">
    <div class="col">
      <mat-card class="tergeta">
        <h2>Datos de La fase</h2>
        <div class="mt-4 mb-2">
          <p><strong>Nombre del projecto:</strong> {{ phase.name }}</p>
          <p><strong>Lider del projecto:</strong> {{ phase.leader_id }}</p>
          <p><strong>Fecha de inicio de Fase:</strong> {{ phase.created_at | date: 'M/d/yy'}}</p>
          <p><strong>Descripción:</strong> {{ phase.description }}</p>
        </div>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="tergeta">
        <div class="row">
          <div class="col">
            <h2>
              Reuniones
            </h2>
          </div>
          <div class="col">
            <a class="btn btn-primary btn-sm float-end">Nueva</a>
          </div>
        </div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td scope="col">
                <a href="">Reunion 1</a>
              </td>
            </tr>
            <tr>
              <td scope="col">
                <a href="">Reunion 2</a>
              </td>
            </tr>
            <tr>
              <td scope="col">
                <a href="">Reunion 3</a>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
  </div>
  <hr>
  <div class="row mt-3">
    <div class="col">
      <mat-card class="tergeta">
        <div class="row">
          <div class="col">
            <h2>
              Integrantes
            </h2>
          </div>
          <div class="col">
            <a class="btn btn-primary btn-sm float-end">Ver mas</a>
          </div>
        </div>
        <table class="table table-striped">
          <tbody>
            <tr *ngFor="let inte of phase.members_id;  index as i;">
              <td>
                {{inte}}
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="tergeta">
        <h2>Calificar fase</h2>

      </mat-card>
    </div>
  </div>
  <hr>
  <div class="row mt-3">
    <div class="col">
      <mat-card class="tergeta">
        <h3>Estadisticas</h3>
        <div class="row">
          <div class="col">
            <mat-card>
              Estadistica 1
              <img src="assets/img/tarta_1_0.png" style="height: 165px;">
            </mat-card>

          </div>
          <div class="col">
            <mat-card>
              Estadistica 2
              <img src="assets/img/tarta_1_0.png" style="height: 165px;">
            </mat-card>
          </div>
          <div class="col">
            <mat-card>
              Estadistica 3
              <img src="assets/img/tarta_1_0.png" style="height: 165px;">
            </mat-card>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
