<div class="cont">
  <div class="row mt-3">
    <div class="col-md-6 col-12" style="height: 220px;">
      <mat-card class="tergeta">
        <div class="row">
          <div class="col">
            <h2>Datos de La fase</h2>
          </div>
          <div class="col">
            <div class="col"  *ngIf="leader._id === user.user._id" >
              <button [disabled]="projectState === 'CLOSE' || phase.state ===  'CLOSE'" class="btn btn-danger btn-sm float-end" (click)="closePhase()">Cerrar fase</button>
            </div>
          </div>
        </div>
        <div class="mt-4 mb-2">
          <p><strong>Nombre del projecto:</strong> {{ phase.name }}</p>
          <p><strong>Lider del projecto:</strong> {{ leader.name + '' + leader.last_name | titlecase}}</p>
          <p>
            <strong>Fecha de inicio de Fase:</strong>
            {{ phase.created_at | date: "M/d/yyyy" }}
          </p>
          <p><strong>Descripción:</strong> {{ phase.description }}</p>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6 col-12 mt-md-0 mt-2" style="height: 220px;">
      <mat-card class="tergeta" style=" height: 100%;overflow: auto;">
        <div class="row">
          <div class="col">
            <h2 class="int">
              <a class="text-dark text-decoration-none" [routerLink]="'/user/list-members-phase/'+id">
                Integrantes
              </a>
            </h2>
          </div>
          <div *ngIf="leader._id === user.user._id"  class="col">
            <button [disabled]="projectState === 'CLOSE' || phase.state ===  'CLOSE'"  class="btn btn-primary btn-sm float-end" [routerLink]="'/user/add-members-phase/'+id">Agregar</button>
          </div>
        </div>
        <div class="row" *ngIf="phaseMembers.length ===0">
          <div class="p-3">
            <div class="h5">La fase no cuenta</div>
            <div class="h7">con integrantes asignados</div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-striped table-responsive" *ngIf="phaseMembers.length > 0">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Nombres</th>
                <th scope="col">Email</th>
              <tr>
            </thead>
            <tbody>
              <tr  style="cursor:pointer" *ngFor="let inte of phaseMembers;  index as i;" [routerLink]="'/user/'+inte._id">
                <td>{{i+1}}</td>
                <td>
                  {{inte.name}} {{inte.last_name}}
                </td>
                <td>
                  {{inte.email}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card>
    </div>
  </div>
  <hr />
  <div class="row my-3" >
    <div class="col-md-6 col-12">
      <mat-card class="tergeta" style=" height: 100%;overflow: auto;">
        <div class="row">
          <div class="col">
            <h2>
              Habilidades
            </h2>
          </div>
          <div class="col" *ngIf="leader._id === user.user._id" >
            <button [disabled]="projectState === 'CLOSE' || phase.state ===  'CLOSE'"  class="btn btn-primary btn-sm ms-2 float-end"  [routerLink]="'/user/create-abilitie/'+ this.id"  *ngIf="this.leader._id === user.user._id">Nueva</button>
            <button [disabled]="projectState === 'CLOSE' || phase.state ===  'CLOSE'"  class="btn btn-success btn-sm float-end" [routerLink]="'/user/add-abiblitie-phase/'+ this.id"> Añadir</button>
          </div>
        </div>
        <div class="table-responsive" *ngIf="abilities.length > 0">
          <table class="table table-hover table-striped table-responsive">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Nombre de la habilidad</th>
                <th scope="col">Fecha de creación</th>
              <tr>
            </thead>
            <tbody>
              <tr style="cursor:pointer" *ngFor="let abilitie of abilities;  index as i;" [routerLink]="'/user/phase/'+id+'/abilitie/'+abilitie._id">
                <td>{{i+1}}</td>
                <td>{{abilitie.name}}</td>
                <td>{{abilitie.created_at | date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row" *ngIf="abilities.length ===0">
          <div class="p-3">
            <div class="h5">La fase no cuenta</div>
            <div class="h7">con abilidades creadas o asignadas</div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6 col-12 mt-md-0 mt-2 pb-md-0 pb-3">
      <mat-card class="tergeta">
        <h2>Estadisticas</h2>
        <div *ngIf="seeCart" class="col">
          <canvas baseChart
                [legend]="true"
                [type]="'bar'"
                [options]="barChartOptions"
                [datasets]="chartData"
                [labels]="chartLabels">
          </canvas>
        </div>
        <div class="p-3" *ngIf="!seeCart">
          <div class="h5">La fase no cuenta</div>
          <div class="h7">con ninguna estadistica en este momento</div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-danger float-end" [routerLink]="['/user/project', phase.projectid]">
        volver
      </button>
    </div>
  </div>
</div>
