<div class="cont">
  <div class="row mb-3">
    <div class="col">
      <mat-card>
        <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

        <h4 class="name">John Smith</h4>
        <p class="designation">Software Engineer</p>
      </mat-card>
    </div>
    <div class="col">
      <mat-card>
        <div class="row">
          <div class="col">
            <h3>
              <strong>
                Proyectos
              </strong>
            </h3>
          </div>
          <div class="col">
            <a class="btn btn-primary float-end">Nuevo</a>
          </div>
        </div>
       
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">proyecto1</div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Proyecto2</div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">proyecto3</div>
        </div>

      </mat-card>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <mat-card>
        <div class="row">
          <div class="col">
            <mat-card>
              Estadistica 1
              <img src="../.././../../assets/img/tarta_1_0.png" style="height: 165px;">
            </mat-card>
           
          </div>
          <div class="col">
            <mat-card>
              Estadistica 2
              <img src="../.././../../assets/img/tarta_1_0.png" style="height: 165px;">
            </mat-card>
          </div>
          <div class="col">
            <mat-card>
              Estadistica 3
              <img src="../.././../../assets/img/tarta_1_0.png" style="height: 165px;">
            </mat-card>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>



