<div class="cont">
  <div class="row mb-3">
    <div class="col-xl-5 col-lg-12" style="height: 290px;">
      <mat-card style=" height: 100%;overflow: auto;">
        <div class="row cont ">
          <div class="col-6 col-md-4 centrar">
            <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />
          </div>
          <div class="col-12 col-sm-6 col-md-8">
            <p class="desig/playlist/37i9dQZF1DX0MqBmOXvo6bnation">
              <span class="fw-bold">Usuario: </span>
              {{ " " + usr.name + " " + usr.last_name }}
            </p>
            <p class="designation">
              <span class="fw-bold">Correo: </span> {{ " " + usr.email }}
            </p>
            <p class="designation">
              <span class="fw-bold">Habilidades: </span>
            </p>
            <mat-chip-list aria-label="Fish selection">
              <mat-chip *ngFor="let skill of usr.skills">{{ skill }}</mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-xl-7 col-lg-12 mt-xl-0 mt-2" style="height: 290px;">
      <mat-card style=" height: 100%;overflow: auto;">
        <mat-card-content>
          <div class="row">
            <div class="col">
              <h2>Proyectos</h2>
            </div>
            <div class="col">
              <a class="btn btn-primary btn-sm float-end" [routerLink]="['/user/create-project']">
                Nuevo
              </a>
            </div>
          </div>
          <div>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="selectedTab = 'lead'" [class.active]="selectedTab === 'lead'">Líder</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="selectedTab = 'dev'" [class.active]="selectedTab === 'dev'">Desarrollador</a>
              </li>
            </ul>
            <div *ngIf="selectedTab === 'lead'">
              <div class="p-3" *ngIf="!leadProjects || !leadProjects.length">
                <div class="h5">El usuario no es</div>
                <div class="h7">líder de ningun proyecto</div>
              </div>
              <div class="table-responsive">
                <table class="table table-hover table-hover table-secondary table-responsive"
                  *ngIf="leadProjects !== undefined && leadProjects.length > 0">
                  <thead>
                    <tr>
                      <th>Nombre Proyecto</th>
                      <th>Fecha de creación</th>
                      <th>No. integrantes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="cursor:pointer" *ngFor="let project of leadProjects"
                      [routerLink]="'/user/project/'+project._id">
                      <td>{{ project.name }}</td>
                      <td>{{ project.created_at | date }}</td>
                      <td>{{ project.membersid?.length }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div *ngIf="selectedTab === 'dev'">
              <div class="p-3" *ngIf="!projects || !projects.length">
                <div class="h5">El usuario no es</div>
                <div class="h7">desarrollador en ningun proyecto</div>
              </div>
              <table class="table table-hover table-info table-responsive" *ngIf="projects !== undefined && projects.length > 0">
                <thead>
                  <tr>
                    <th>Nombre Proyecto</th>
                    <th>Fecha de creación</th>
                    <th>No. de integrantes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="cursor:pointer" *ngFor="let project of projects"
                    [routerLink]="'/user/project/'+project._id">
                    <td>{{ project.name }}</td>
                    <td>{{ project.created_at | date }}</td>
                    <td>{{ project.membersid?.length }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <hr />
  <div class="row mt-3">
    <div class="col">
      <mat-card>
        <div class="row">
          <div class="col-12 col-sm-6">
            <h2>Estadisticas</h2>
          </div>
          <div class="col-12 col-sm-6">
            <div class="d-flex float-sm-end">
              <span class="pt-2" style="font-weight: 500;"> Proyecto: </span>  &nbsp;
              <select style="width: 300px;" [formControl]="select" name="" id="" class="form-select" (change)="getAbilitiesByProject(select.value)">
                <option *ngFor="let project of selectProjects" [value]="project._id">
                  {{ project.name | titlecase }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="p-3" *ngIf="!seeCart">
            <div class="h5">El usuario no cuenta</div>
            <div class="h7">con ninguna estadistica en este proyecto</div>
          </div>
        </div>
        <div *ngIf="seeCart" class="row pt-5">
          <canvas baseChart
                [legend]="true"
                [type]="'bar'"
                [options]="barChartOptions"
                [datasets]="chartData"
                [labels]="chartLabels">
          </canvas>
        </div>
      </mat-card>
    </div>
  </div>
</div>
