<div class="cont">
  <div class="row mb-3">
    <div class="col">
      <mat-card>
        <div class="row cont" >
          <div class="col-6 col-md-4 centrar">
            <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />
          </div>
          <div class="col-12 col-sm-6 col-md-8">
            <p class="designation">Usuario</p>
            <p class="designation">Correo</p>
            <p class="designation">Habilidades</p>
            <mat-chip-list aria-label="Fish selection">
              <mat-chip>Skill 1</mat-chip>
              <mat-chip>Skill 2</mat-chip>
            </mat-chip-list>
          </div>
        </div>

      </mat-card>
    </div>
    <div class="col">
      <mat-card style="height: 100%;">
        <div class="row">
          <div class="col">
            <h2>
                Proyectos
            </h2>
          </div>
          <div class="col">
            <a class="btn btn-primary btn-sm float-end" [routerLink]="['/user/create-project']">Nuevo</a>
          </div>
        </div>
        <mat-tab-group>
          <mat-tab label="Manager"> Content 1 </mat-tab>
          <mat-tab label="Leader"> Content 2 </mat-tab>
          <mat-tab label="Developer"> Content 3 </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
  <hr>
  <div class="row mt-3">
    <div class="col">
      <mat-card>
        <div class="row">
          <div class="col">
            <mat-card>
              Estadistica 1
              <img src="assets/img/tarta_1_0.png" style="height: 165px;">
            </mat-card>
          </div>
          <div class="col">
            <mat-card>
              Estadistica 2
              <img src="assets/img/tarta_1_0.png" style="height: 165px;">
            </mat-card>
          </div>
          <div class="col">
            <mat-card>
              Estadistica 3
              <img src="assets/img/tarta_1_0.png" style="height: 165px;">
            </mat-card>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>



