<form class="cont" [formGroup]='form'>
    <div class="card-body">
        <div class="row">
            <div class="col">
              <label for="nameProject" class="form-label">Nombre del projecto</label>
              <input type="text" class="form-control" id="nameProject" formControlName="nameProject">
              <div id="emailHelp" class="form-text">Descripción</div>
            </div>
            <div class="col">
              <label for="exampleInputEmail1" class="form-label">Organización</label>
              <input type="text" class="form-control" id="organization" formControlName="organization">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="dateEstimated" class="form-label">Fecha de inicio del proyecto</label>
              <input type="date" class="form-control" id="startDate" formControlName="startDate">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="col">
              <label for="dateEstimated" class="form-label">Fecha de cierre del proyecto</label>
              <input type="date" class="form-control" id="endDate" formControlName="endDate">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="exampleInputEmail1" class="form-label">Descripción</label>
              <textarea type="text" class="form-control" id="description" formControlName="description"></textarea>
              <div id="emailHelp" class="form-text">Usuario que suaras dentro de la app</div>
            </div>
          </div>
          <div class="row">
            <label for="exampleInputEmail1" class="form-label">Seleccione las habilidadades </label>
            <mat-form-field class="example-chip-list ancho" appearance="fill" >
                <mat-label>Habilidades</mat-label>
                <mat-chip-list #chipList aria-label="seleccion de habilidades">
                  <mat-chip
                    *ngFor="let skill of skills"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(skill)">
                    {{skill}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="Agregar habilidad..."
                    #skillInput
                    [formControl]="skillCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)"
                    id="skills">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
                    {{skill}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
          </div>
          <div class="row">
            <div class="col">
                <button [routerLink]="['/user']" type="button"  mat-raised-button color="warn" class="float-star">
                    Volver
                </button>
            </div>
            <div class="col">
                <button type="submit" mat-raised-button color="primary" class="float-end" [disabled]="form.invalid" (click)="save()">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</form>
