<div class="body">
  <div class="login">
    <mat-card>
      <img class="img" src="./assets/img/usuario.png">
      <h1>Login</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input type="text" matInput autocomplete="off">
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="text" matInput autocomplete="off">
      </mat-form-field>
      <button type="submit" mat-raised-button class="ancho button" color="primary">Primary</button>
    </mat-card>
  </div>
</div>

