.cont{
  padding: 5%;
}

.card {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

mat-slider {
  width: 300px;
}


.green{
  color: #71cf80;
 }

 .red{
  color: #ff3232;
 }

 .yellow{
  color: #ffef11;
 }
