<form class="cont"  [formGroup]="form" (ngSubmit)="createPhase()">
  <div class="card-body">
      <div class="row">
          <div class="col">
            <label for="exampleInputEmail1" class="form-label">Nombre de la fase</label>
            <input type="text" class="form-control" formControlName="namePhase">
            <div id="emailHelp" class="form-text">Descripción</div>
          </div>
          <div class="col">
            <label for="exampleInputEmail1" class="form-label">Descripción </label>
            <input type="text" class="form-control" formControlName="dateEstimated">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="exampleInputEmail1" class="form-label">Inicio de fase</label>
            <input type="date" class="form-control" formControlName="startDate">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="col">
            <label for="exampleInputEmail1" class="form-label">final de fase</label>
            <input type="date" class="form-control" formControlName="endDate">
            <div id="emailHelp" class="form-text">Usuario que suaras dentro de la app</div>
          </div>
        </div>
        <div class="row">
          <label for="exampleInputEmail1" class="form-label">Seleccione las habilidadades </label>
          <mat-form-field class="example-chip-list ancho" appearance="fill" >
              <mat-label>Habilidades</mat-label>
              <mat-chip-list #chipList aria-label="seleccion de habilidades">
                <mat-chip
                  *ngFor="let skill of skills"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(skill)">
                  {{skill}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Agregar habilidad..."
                  #skillInput
                  [formControl]="skillCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
                  {{skill}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="row">
          <div class="col">
              <button [routerLink]="['/User']" type="button"  mat-raised-button color="warn" class="float-star">
                  Volver
              </button>
          </div>
          <div class="col">
              <button type="submit" mat-raised-button color="primary" class="float-end"  [disabled]="form.invalid">
                  Guardar
              </button>
          </div>
      </div>
  </div>
</form>
