<form class="cont"  [formGroup]="form" >
  <div class="card-body">
      <div class="row">
          <div class="col">
            <label for="exampleInputEmail1" class="form-label">Nombre de la fase</label>
            <input type="text" class="form-control" formControlName="namePhase"
            [ngClass]="{'is-invalid border-danger': form.get('namePhase')?.touched && form.get('namePhase')?.invalid}">
            <div *ngIf="form.get('namePhase')?.errors && form.get('namePhase')?.dirty">
              <div class="text-danger" *ngIf="form.get('namePhase')?.hasError('required')">
                El nombre es requerido
              </div>
            </div>
          </div>
          <div class="col">
            <label for="exampleInputEmail1" class="form-label">Descripción </label>
            <input type="text" class="form-control" formControlName="description"
            [ngClass]="{'is-invalid border-danger': form.get('description')?.touched && form.get('description')?.invalid}">
            <div *ngIf="form.get('description')?.errors && form.get('description')?.dirty">
              <div class="text-danger" *ngIf="form.get('description')?.hasError('required')">
                La descripción es requerida
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <label for="exampleInputEmail1" class="form-label">Inicio de fase</label>
            <input type="date" class="form-control" formControlName="startDate"
            [ngClass]="{'is-invalid border-danger': form.get('startDate')?.touched && form.get('startDate')?.invalid}">
            <div *ngIf="form.get('startDate')?.errors && form.get('startDate')?.dirty">
              <div class="text-danger" *ngIf="form.get('startDate')?.hasError('required')">
                La fecha de inicio es requerida
              </div>
            </div>
          </div>
          <div class="col">
            <label for="exampleInputEmail1" class="form-label">Final de fase</label>
            <input type="date" class="form-control" formControlName="endDate"
            [ngClass]="{'is-invalid border-danger': form.get('endDate')?.touched && form.get('endDate')?.invalid}">
            <div *ngIf="form.get('endDate')?.errors && form.get('endDate')?.dirty">
              <div class="text-danger" *ngIf="form.get('endDate')?.hasError('required')">
                La fecha de finalización es requerida
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <label for="exampleInputEmail1" class="form-label">Seleccione las habilidadades </label>
            <div class="mb-2" *ngIf="!abilitieList.length">
              <span>
                El Proyecto no cuenta con mas habilidades o no tiene hanilidades creadas
              </span>
            </div>
            <div class="table-responsive">
              <table class="table table-hover table-striped"  *ngIf="abilitieList.length">
                <thead>
                  <tr>
                    <th>Habilidad</th>
                    <th>Descripción</th>
                    <th>Integrantes</th>
                    <th>Seleccionar</th>
                  </tr>
                </thead>
                <thead>
                  <tr *ngFor="let abilitie of abilitieList">
                    <td>{{abilitie.name}}</td>
                    <td>{{abilitie.description}}</td>
                    <td>{{abilitie.members?.length}}</td>
                    <td>
                      <button class="btn btn-primary" (click)="addAbilitie(abilitie)"><fa-icon class="fs-14" [icon]="faPlus"></fa-icon> Añadir</button>
                    </td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
              <button [routerLink]="['/user/project/' + this.id]" type="button"  mat-raised-button color="warn" class="float-star">
                  Volver
              </button>
          </div>
          <div class="col">
              <button type="submit" mat-raised-button color="primary" class="float-end" (click)="savePhase()" [disabled]="form.invalid">
                  Guardar
              </button>
          </div>
      </div>
  </div>
</form>
