<div class="cont">
  <div class="row mt-3">
    <div class="col-md-6 col-12" style="height: 220px;">
      <mat-card class="tergeta"  style=" height: 100%;overflow: auto;">
        <div class="row">
          <div class="col">
            <h2>Datos de La habilidad</h2>
          </div>
        </div>
        <div class="mt-4 mb-2">
          <p><strong>Nombre de la habilidad:</strong>  {{ abilitie?.name }}</p>
          <p><strong>Lider del projecto:</strong> {{ leader.name + '' + leader.last_name | titlecase}} </p>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6 col-12 mt-md-0 mt-2" style="height: 220px;">
      <mat-card class="tergeta"  style=" height: 100%;overflow: auto;">
        <div class="row">
          <div class="col">
            <h2 class="int">
                Integrantes
            </h2>
          </div>
          <div class="col" *ngIf="leader._id === user.user._id && phaseId" >
            <div class="col">
              <a title='Calificar' class="btn btn-success btn-sm float-end" [routerLink]="'/user/phase/'+phaseId+'/members-abilities/'+id"><fa-icon [icon]="faEdit"></fa-icon></a>
            </div>
            <div class="col">
              <button title='Agregar' class="btn btn-primary btn-sm float-end me-2" [routerLink]="'/user/phase/'+phaseId+'/add-members-abilities/'+id"><fa-icon [icon]="faPlus"></fa-icon></button>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!abilitie?.members?.length">
          <div class="h3">
            Esta habilidad aun no cuenta con mienbros asignados
          </div>
        </div>
        <div class="table-responsive" *ngIf="abilitie?.members?.length">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Nombres</th>
              <tr>
            </thead>
            <tbody>
              <tr  style="cursor:pointer" *ngFor="let inte of abilitie?.members;  index as i;" [routerLink]="'/user/'+inte.id_member">
                <td>{{i+1}}</td>
                <td>
                  {{inte.name}} {{inte?.lastname}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card>
    </div>
  </div>
  <hr>
  <div class="row mt-3">
    <div *ngIf="seeCart" class="col">
      <mat-card class="tergeta">
        <h3>Estadisticas</h3>
        <div class="row">
          <canvas baseChart
                [legend]="true"
                [type]="'bar'"
                [options]="barChartOptions"
                [datasets]="chartData"
                [labels]="chartLabels">
          </canvas>
        </div>
      </mat-card>
    </div>
  </div>
</div>
