<div>
    <app-navbar></app-navbar>
</div>

<div class="body">
    <div class="login">
        <mat-card>
            <form [formGroup]="form">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                          <label for="exampleInputEmail1" class="form-label">Nombre</label>
                          <input type="text" class="form-control" formControlName="name">
                          <div class="form-text">Nombre Completo</div>
                        </div>
                        <div class="col">
                          <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                          <input type="email" class="form-control" formControlName="mail">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <label for="exampleInputEmail1" class="form-label">Nombre De Ususario</label>
                          <input type="email" class="form-control" formControlName="nickName">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="col">
                          <label for="exampleInputEmail1" class="form-label">Telefono</label>
                          <input type="text" class="form-control" formControlName="tel">
                          <div id="emailHelp" class="form-text">Usuario que suaras dentro de la app</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <label for="exampleInputEmail1" class="form-label">Contraseña</label>
                          <input type="password" class="form-control" formControlName="password">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1" class="form-label">Confirmar Contraseña</label>
                            <input type="password" class="form-control" formControlName="cofirmPassword">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                      </div>
                      <div class="row">
                        <label for="exampleInputEmail1" class="form-label">Seleccione su habilidad </label>
                        <mat-form-field class="example-chip-list ancho" appearance="fill" >
                            <mat-label>Habilidades</mat-label>
                            <mat-chip-list #chipList aria-label="seleccion de habilidades">
                              <mat-chip
                                *ngFor="let skill of skills"
                                [selectable]="selectable"
                                [removable]="removable"
                                (removed)="remove(skill)">
                                {{skill}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                              </mat-chip>
                              <input
                                placeholder="Agregar habilidad..."
                                #skillInput
                                [formControl]="skillCtrl"
                                [matAutocomplete]="auto"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                              <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
                                {{skill}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                      </div>
                      <div class="row">
                        <div class="col">
                            <button routerLink="/Login" type="button"  mat-raised-button color="warn" class="float-star">
                                Login
                            </button>
                        </div>
                        <div class="col">
                            <button type="submit" mat-raised-button color="primary" class="float-end">
                                Registrar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>


